.modal-movie {
  @include tab {
    display: flex;
  }
}

// .modal-movie__img-wrapper {
//   background-color: #ece5e5;
// }

.modal-movie__img {
  min-width: 240px;
  height: 357px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ece5e5;

  object-fit: cover;
  // height: 30vh;

  @include tab {
    min-width: 264px;
    height: 374px;
    margin-right: 68px;
    margin-bottom: 0px;
  }

  @include desk {
    min-width: 375px;
    height: 478px;
    margin-right: 16px;
    margin-bottom: 0px;
  }
}

.modal-movie__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
  margin-bottom: 20px;

  @include desk {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal-movie__info {
  display: flex;
  margin-bottom: 20px;
}

.modal-movie__list-specifications,
.slash {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.modal-movie__list-specifications {
  margin-right: 40px;
}

.modal-movie__item-specifications,
.modal-movie__item-values {
  margin-bottom: 8px;
}

.modal-movie__list-values {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;

  @include desk {
    margin-left: 85px;
  }
}

.modal-movie__item-vote {
  padding: 1px 9px;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
}

.modal-movie__item-votes {
  padding: 1px 4px;

  background: #f7f7f7;
  border-radius: 5px;
}

.modal-movie__item-genres {
  // word-break: break-word;
}

.modal-movie__subtitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 8px;
}

.modal-movie__text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;

  margin-bottom: 20px;
}

.modal-movie__btn-wrapper {
  display: flex;
  gap: 20px;
}

.modal-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  text-transform: uppercase;

  width: 110px;
  height: 44px;

  @include tab {
    width: 125px;
  }

  @include desk {
    width: 136px;
  }
}

.modal-movie__btn-watched {
  color: #ffffff;
  background: #ff6b01;
  border: none;
}

.modal-movie__btn-queue {
  border: 1px solid #000000;
}
