.tui-pagination.is-hidden {
    display: none;
}

.tui-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tui-custon {
    font-size: 12px;
    text-decoration: none;
    width: 40px;
    display: flex;
    font-weight: 500;
    height: 40px;
    color: rgb(17, 17, 0);
    background-color:  #FFFFFF;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .tui-custon-is-selected {
    background-color: #FF6B08;
  }