<div class="card">
  <div class="card-thumb">
    <img
      class="card-img"
      srcset="
        https://image.tmdb.org/t/p/w300/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg 300w,
        https://image.tmdb.org/t/p/w400/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg 400w,
        https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg 500w
      "
      sizes="(min-width: 1280px) 394px, (min-width: 768px) 336px, 280px"
      src="https://image.tmdb.org/t/p/w400/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
      alt=""
      loading="lazy"
    />
  </div>
  <div class="card-desc">
    <p class="card-title">GREYHOUND</p>
    <p class="card-info">Drama, Action<span class="card-year">2020</span></p>
  </div>
</div>
