<div class="backdrop is-hidden" data-modal-about>
    <div class="modal">
      <button type="button" class="modal-close-button" data-modal-about-close>
        <svg>
          <use href="./images/sprite.svg#close_icon"></use>
        </svg>
      </button>
      <div class="modal-movie js-modal-window"></div>
      <div class="modal-movie__btn-wrapper">
        <button type="button" class="modal-btn modal-movie__btn-watched">
          add to Watched
        </button>
        <button type="button" class="modal-btn modal-movie__btn-queue">
          add to queue
        </button>
      </div>
    </div>
  </div>
  </div>

